requests
beautifulsoup4
gtts
google-auth
google-auth-oauthlib
google-api-python-client
google-auth
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
playwright
moviepy
moviepy
imageio
imageio-ffmpeg
decorator
tqdm
numpy
requests
pillow
gTTS
opencv-python
